In [1]:
import pandas as pd

In [4]:
books = pd.Series(['Harry Potter and The Philosophers Stone','Artificial Intelligence: A Modern Approach'])
book_class = pd.Series(['Fiction','Non-Fiction'])
authors = pd.Series(['JK Rowling', 'Russel and Norvig'])
sold = pd.Series([12000000,10000])

book_frame = pd.DataFrame({
    'Book Title': books,
    'Book Classification': book_class,
    'Author Name': authors,
    'Sales': sold
})
book_frame

,Book Title,Book Classification,Author Name,Sales
0,Harry Potter and The Philosophers Stone,Fiction,JK Rowling,12000000
1,Artificial Intelligence: A Modern Approach,Non-Fiction,Russel and Norvig,10000

In [10]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data',sep=',',header=None)

print(df.head())
print(df.tail())

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +
    0      1       2  3  4   5   6     7  8  9   10 11 12     13   14 15
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g  00000    0  -

In [16]:
print(book_frame['Book Title'])
print(book_frame['Book Title'][0])
print(book_frame['Book Title'][0:2]) # get used to Python indexing... includes first, doesn't include last

0       Harry Potter and The Philosophers Stone
1    Artificial Intelligence: A Modern Approach
Name: Book Title, dtype: object
Harry Potter and The Philosophers Stone
0       Harry Potter and The Philosophers Stone
1    Artificial Intelligence: A Modern Approach
Name: Book Title, dtype: object

In [24]:
# slice rows using iloc, which selects a row and returns it as:
# > a pandas series (if one row selected)
# > a pandas dataframe (if multiple rows selected)

print(book_frame.iloc[0])
print(type(book_frame.iloc[0]))

print(book_frame.iloc[0]['Book Title'])

print(book_frame.iloc[0:2])
print(type(book_frame.iloc[0:2]))

Book Title             Harry Potter and The Philosophers Stone
Book Classification                                    Fiction
Author Name                                         JK Rowling
Sales                                                 12000000
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
Harry Potter and The Philosophers Stone
                                   Book Title Book Classification  \
0     Harry Potter and The Philosophers Stone             Fiction
1  Artificial Intelligence: A Modern Approach         Non-Fiction

         Author Name     Sales
0         JK Rowling  12000000
1  Russel and Norvig     10000
<class 'pandas.core.frame.DataFrame'>

In [37]:
# Manipulate data in data frame

book_frame['Sales'] = book_frame['Sales'] * 10
print(book_frame)

import numpy as np
log_sales = np.log(book_frame['Sales'])
print(log_sales)
book_frame['Log Sales'] = log_sales # create new column
print(book_frame)

                                   Book Title Book Classification  \
0     Harry Potter and The Philosophers Stone             Fiction
1  Artificial Intelligence: A Modern Approach         Non-Fiction

         Author Name         Sales
0         JK Rowling  1.200000e+09
1  Russel and Norvig  1.000000e+06
0    20.905587
1    13.815511
Name: Sales, dtype: float64
                                   Book Title Book Classification  \
0     Harry Potter and The Philosophers Stone             Fiction
1  Artificial Intelligence: A Modern Approach         Non-Fiction

         Author Name         Sales  Log Sales
0         JK Rowling  1.200000e+09  20.905587
1  Russel and Norvig  1.000000e+06  13.815511

In [40]:
book_frame['Rating'] = pd.Series([9,7])
print(book_frame)

                                   Book Title Book Classification  \
0     Harry Potter and The Philosophers Stone             Fiction
1  Artificial Intelligence: A Modern Approach         Non-Fiction

         Author Name         Sales  Log Sales  Rating
0         JK Rowling  1.200000e+09  20.905587       9
1  Russel and Norvig  1.000000e+06  13.815511       7